package [[group_name]].[[project_name]].infrastructure.adapters.outbound.memory

import [[group_name]].[[project_name]].domain.model.Customer
import [[group_name]].[[project_name]].domain.model.CustomerRepository

class InMemoryCustomerRepository : CustomerRepository {

    private val customers = mutableListOf<Customer>()

    override fun save(customer: Customer) {
        customers.add(customer)
    }
}
