package [[group_name]].[[project_name]].infrastructure.configuration

import [[group_name]].[[project_name]].application.service.SignUpCustomerService
import [[group_name]].[[project_name]].domain.model.CustomerRepository
import [[group_name]].[[project_name]].infrastructure.outbound.memory.InMemoryCustomerRepository
import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration

@Configuration
class ApplicationConfiguration {

    @Bean
    fun customerRepository() = InMemoryCustomerRepository()

    @Bean
    fun signUpCustomerService(repository: CustomerRepository) = SignUpCustomerService(repository)
}
