package [[group_name]].[[project_name]].componenttest

import [[group_name]].[[project_name]].Application
import org.junit.jupiter.api.Tag
import org.springframework.boot.test.context.SpringBootTest
import org.springframework.boot.web.server.LocalServerPort
import org.testcontainers.junit.jupiter.Testcontainers

@Suppress("UnnecessaryAbstractClass")
@Tag("component")
@Testcontainers
@SpringBootTest(classes = [Application::class], webEnvironment = SpringBootTest.WebEnvironment.RANDOM_PORT)
abstract class BaseComponentTest {
    @LocalServerPort
    val servicePort: Int = 0
}
