package {{tld}}.{{group_name}}.{{project_name}}.infrastructure.adapters.inbound.http.controller

import {{tld}}.{{group_name}}.{{project_name}}.application.service.SignUpCustomerRequest
import {{tld}}.{{group_name}}.{{project_name}}.application.service.SignUpCustomerService
import java.util.UUID
import org.springframework.http.HttpStatus
import org.springframework.http.ResponseEntity
import org.springframework.web.bind.annotation.PostMapping
import org.springframework.web.bind.annotation.RequestBody
import org.springframework.web.bind.annotation.RestController

@RestController
class SignUpController(
    private val signUpCustomerService: SignUpCustomerService,
) {

    @PostMapping("/customers")
    fun signUpCustomer(@RequestBody requestBody: HttpSignUpCustomerRequestBody): ResponseEntity<*> =
        requestBody.toServiceRequest()
            .let {
                signUpCustomerService.invoke(it)
            }
            .fold(
                {
                    ResponseEntity.badRequest().body(HttpErrorResponse(it.message))
                }, {
                    HttpSignUpCustomerResponse(it.id).let { response ->
                        ResponseEntity.status(HttpStatus.CREATED).body(response)
                    }
                }
            )

    private fun HttpSignUpCustomerRequestBody.toServiceRequest() = SignUpCustomerRequest(
        id = this.id,
        name = this.name,
        surname = this.surname,
        email = this.email,
    )
}

data class HttpSignUpCustomerRequestBody(
    val id: UUID,
    val name: String,
    val surname: String,
    val email: String,
)

data class HttpSignUpCustomerResponse(val id: UUID)

data class HttpErrorResponse(val message: String)
