
name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14.0'
          cache: 'pip'

      - name: Install python dependencies (copier)
        run: pip install -r requirements.txt

      - name: Run tests
        run: ./runTests.sh
